# Credenziali Database MariaDB
MYSQL_ROOT_PASSWORD=la_tua_password_root
MYSQL_DATABASE=FranzPLAY_DBMS
MYSQL_USER=tuo_username
MYSQL_PASSWORD=tua_password

# Configurazione Percorsi
# Sostituisci questo percorso con la cartella reale del tuo server dove hai i video
PERCORSO_VIDEO="./testVideo"
