# Data & Sessions
testVideo/
sessioni/
Dati_Database/
App_Data/

# Env files
.env
**/.env

# Scripts
Avvia_Containers.bat
avvia_containers.sh
resetta_ambiente_docker.sh
stop_containers.sh
Stop_Containers.bat
resetta_ambiente_docker.bat

# Context & LLM Markdown files
*.md
!README.md
!Frontend/React/README.md
CONTENUTO *
**/CONTENUTO *
